<mat-card style="margin: 5%; background-color: rgba(255, 255, 255, 0.9);">
  <mat-card-header>
    <mat-card-title><h1>My Hart Soundtrack</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>My Hart 2022 ATKV Soundtrack</p>
    <mat-selection-list #selected_track>
      
      @for (track of tracks; track track) {
        <mat-list-item class="track-item" (click)="changeTrack(track)">
          <mat-icon matListItemIcon>play_arrow</mat-icon>
            <span matListItemTitle>{{ track.name }}</span>
            
            <button mat-icon-button onclick="event.stopPropagation()" (click)="downloadTrack(track)" style="position: absolute; right: 10px; top: 10px;" ><mat-icon>download</mat-icon></button>
          
        </mat-list-item>
      }
    </mat-selection-list>
  </mat-card-content>
</mat-card>
<mat-card style="position: fixed; bottom: 0px; width: 100%; height: 75px; display: flexbox; flex-direction: row; align-items: center;">
  <span style="margin-left: 10px;">{{ selectedTrack?.name }}</span>
  <audio #audioplayer controls style="margin: 10px; width: 80%; position: absolute; right: 0;">
    <source src="" type="audio/mpeg">
  </audio>
</mat-card>
